<%= form_for @advertiser do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :starts %><br />
    <%= f.date_select :starts %>
  </p>
  <p>
    <%= f.label :ends %><br />
    <%= f.date_select :ends %>
  </p>
  <p>
    <%= f.label :paid %><br />
    <%= f.check_box :paid %>
  </p>
  <p><%= f.submit %></p>
<% end %>
