<h1>Listing products</h1>

<table id="products">
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td>
      <%= product.name %>
    </td>
    <td>
      <%= link_to 'Show', product %>
      <%= link_to 'Edit', edit_product_path(product) %>
      <%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<p><%= link_to 'New Product', new_product_path %></p>
