<!DOCTYPE html>
<html>
<head>
  <title>Chainlink Tools</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="notice"><%=simple_format notice %></div>
  <%= yield %>
</body>
</html>
